In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Hulisi
What is your age? 43
Your name is Hulisi. Your age is 43

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a == b:
    print("The numbers are equal.")
else:
    print("The numbers are not equal.")

The numbers are not equal.

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a > b:
    print("The first number is greater than the second number.")
elif a == b:
    print("The first number is equal to the second number.")
else:
    print("The first number is less than the second number.")

The first number is less than the second number.

In [4]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1, 6):
    print(k, end=", ")

1, 2, 3, 4, 5,

In [5]:
#Q5-Using while loop, print 5,4,3,2,1
n = 5
while n > 0:
    print(n, end=", " if n > 1 else "")
    n -= 1

5, 4, 3, 2, 1

In [6]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for num in range(10, -1, -2):
    if num != 8:
        print(num, end=", " if num > 0 else "")

10, 6, 4, 2, 0

In [7]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
from datetime import datetime

def age(birth_year):
    current_year = datetime.now().year
    return current_year - birth_year
print(age(1944))

81

In [8]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
arithmetic.addition(3,4)
class Arithmetic:
    def add(self, a, b):
        """Method for addition."""
        return a + b

    def subtract(self, a, b):
        """Method for subtraction."""
        return a - b

    def multiply(self, a, b):
        """Method for multiplication."""
        return a * b

    def divide(self, a, b):
        """Method for division."""
        if b == 0:
            return "Cannot divide by zero"
        return a / b

calc = Arithmetic()

print(calc.add(10, 5))
print(calc.subtract(10, 5))
print(calc.multiply(10, 5))
print(calc.divide(10, 5))

15
5
50
2.0

In [9]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
def summation(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
def summation(n):
    return sum(range(1, n + 1))

print(summation(3))

6

In [10]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random


random_numbers = [random.random() for _ in range(10)]


print(random_numbers[:3])

[0.5845152829918759, 0.6260148918225242, 0.8835160143369446]

In [11]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))

n = 15

for i in range(1, n + 1):
    if i % 3 == 0:
        print(i, end=' ')

3 6 9 12 15